<h1 class="text-center">詳細表示</h1>
<section class="card border-dark mt-5">
  <div class="card-header">
    <h4><%= "発生工程:#{@post.place}" %></h4>
    <hr>
    <h4><%= "異常名:#{@post.title}" %></h4>
    <hr>
    <h4><%= "異常内容:#{@post.content}" %></h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= "異常処置内容:#{simple_format(h @post.fix_detail)}" %></p>
  </div>
</section>
